venv
_secret_auth_.json
.*
*.pyc
__pycache__/
*.log
*.png
*.xml
*.html
.pytest_cache/
archived_logs/
latest_logs/
*.egg-info/
pabot_results/
.*
*.db
build/
dist/
*.gz
*.wheel
!.coverage
!.coveragerc
!coverage.xml
!.pre-commit-config.yaml
